################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iKan/iKan/bin/Debug/Document1-Clatonbook.docx
