################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iKan/iKan/bin/Debug/*
/iKan/iKan/bin/Release/*